<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Botín</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/download.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styletab.css') }}">
</head>
<body>
    <div class="pestaña">
        <div class="titulo">
            <img src="{{ url_for('static', filename='images/icono_clientes') }}" height="50">
            <h2>Clientes</h2>
        </div>
        <div>
            <p>Gestiona tus clientes de manera eficiente.</p>
        </div>
        <div class="botones">
            <button onclick="document.getElementById('formulario-alta').style.display='block'">Cargar Cliente</button>
        </div>
        <!-- Formulario para agregar nuevo cliente -->
        <div id="formulario-alta" style="display:none;">
            <form action="{{ url_for('alta_cliente') }}" method="POST">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" required><br>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br>
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required><br>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required><br>
                <label for="contacto">Contacto:</label>
                <input type="text" id="contacto" name="contacto" required><br>
                <input type="submit" value="Agregar Cliente">
            </form>
        </div>
    
        <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dirección</th>
                            <th>Contacto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente[1] }}</td> <!-- DNI -->
                            <td>{{ cliente[2] }}</td> <!-- Nombre -->
                            <td>{{ cliente[3] }}</td> <!-- Apellido -->
                            <td>{{ cliente[4] }}</td> <!-- Dirección -->
                            <td>{{ cliente[5] }}</td> <!-- Contacto -->
                            <td class="modificar-col">
                                <a class="modificar-btn" href="{{ url_for('editar_cliente_route', dni=cliente[1]) }}">Modificar</a>
                            </td>
                            <td class="eliminar-col">
                                <form action="{{ url_for('eliminar_cliente_route', id_cliente=cliente[0]) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="eliminar-btn" onclick="return confirmarEliminacion()">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        <div class="atras">
            <a href="{{ url_for('index')}}">
                <img src="{{ url_for('static', filename='images/atras.png') }}" height="50">
            </a>
        </div>
    </div>
</body>
</html>