<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Botín</title>
    <link rel="icon" type="image/png" href="Images/download.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="contenedor">
        <div class="titulo">
            <img src="Images/Icono Clientes.png" height="70">
            <h2>Clientes</h2>
            <a href="clientes.html">
                <button name="button" >Ir</button>
            </a>
        </div>
        <div class="descr">
            <p>Gestiona tus clientes de manera eficiente.</p>
        </div>
    </div>
    <div class="contenedor">
        <div class="titulo">
            <img src="Images/Icono Productos.png" height="70">
            <h2>Productos</h2>
            <a href="productos.html">
                <button name="button" >Ir</button>
            </a>
        </div>
        <div class="descr">
            <p>Gestiona tus productos de manera eficiente.</p>
        </div>
    </div>
    <div class="contenedor">
        <div class="titulo">
            <img src="Images/Icono Pedidos.png" height="70">
            <h2>Pedidos</h2>
            <a href="pedidos.html">
                <button name="button" >Ir</button>
            </a>
        </div>
        <div class="descr">
            <p>Gestiona tus pedidos de manera eficiente.</p>
        </div>
    </div>
</body>
</html>