<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Botín</title>
    <link rel="icon" type="image/png" href="Images/download.png">
    <link rel="stylesheet" href="styletab.css">
</head>
<body>
    <div class="pestaña">
        <div class="titulo">
            <img src="Images/Icono Pedidos.png" height="50">
            <h2>Pedidos</h2>
        </div>
        <div>
            <p>Gestiona tus pedidos de manera eficiente.</p>
        </div>
        <div class="botones">
            <button>Cargar Pedido</button>
            <button>Modificar Pedido</button>
            <button>Eliminar Pedido</button>
        </div>
        <div class="titulo">
            <h3>Cliente</h3>
            <select>
                <option value="cristian">Cristian</option>
                <!-- Añade más opciones si es necesario -->
            </select>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>05/08/2024</td>
                        <td>Nike</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>05/08/2024</td>
                        <td>Adidas</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>05/08/2024</td>
                        <td>NB</td>
                        <td>1500</td>
                    </tr>
                </tbody>
            </table>
            <div class="total">
                <span>3500</span>
            </div>
        </div>
        <div class="botones">
            <button>+</button>
        </div>
        <div class="atras">
            <a href="index.html">
                <img src="Images/atras.png" height="50">
            </a>
        </div>
    </div>
</body>
</html>
