<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Botín</title>
    <link rel="icon" type="image/png" href="Images/download.png">
    <link rel="stylesheet" href="styletab.css">
</head>
<body>
    <div class="pestaña">
        <div class="titulo">
            <img src="Images/Icono Productos.png" height="50">
            <h2>Productos</h2>
        </div>
        <div>
            <p>Gestiona tus productos de manera eficiente.</p>
        </div>
        <div class="botones">
            <button>Cargar Productos</button>
            <button>Modificar Productos</button>
            <button>Eliminar Productos</button>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Talle</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>44</td>
                        <td>Nike</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Adidas</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>Puma</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Topper</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>Kappa</td>
                        <td>550</td>
                    </tr>
                </tbody>
            </table>
        <div class="atras">
            <a href="index.html">
                <img src="Images/atras.png" height="50">
            </a>
        </div>
    </div>
</body>
</html>