<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Botín</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/download.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styletab.css') }}">
</head>
<body>
    <div class="pestaña">
        <div class="titulo">
            <img src="{{ url_for('static', filename='images/Icono Productos.png') }}" height="50">
            <h2>Productos</h2>
        </div>
        <div>
            <p>Gestiona tus productos de manera eficiente.</p>
        </div>
        <div class="botones">
            <button onclick="document.getElementById('formulario-alta').style.display='block'">Cargar Producto</button>
        </div>
        <!-- Formulario para agregar nuevo producto -->
        <div id="formulario-alta" style="display:none;">
            <form action="{{ url_for('alta_producto') }}" method="POST">
                <label for="talle">Talle:</label>
                <input type="text" id="talle" name="talle" required><br>
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required><br>
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" required><br>
                <input type="submit" value="Agregar Producto">
            </form>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Talle</th>
                        <th>Marca</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto[1] }}</td> <!-- Talle -->
                        <td>{{ producto[2] }}</td> <!-- Marca -->
                        <td>{{ producto[3] }}</td> <!-- Precio -->
                        <td class="modificar-col">
                            <a class="modificar-btn" href="{{ url_for('editar_producto_route', id_producto=producto[0]) }}">Modificar</a>
                        </td>
                        <td class="eliminar-col">
                            <form action="{{ url_for('eliminar_producto_route', id_producto=producto[0]) }}" method="POST" style="display:inline;">
                                <button type="submit" class="eliminar-btn" onclick="return confirmarEliminacion()">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="atras">
            <a href="{{ url_for('index')}}">
                <img src="{{ url_for('static', filename='images/atras.png') }}" height="50">
            </a>
        </div>
    </div>
</body>
</html>